<div id="hours">
  
  <% if @album.found != true %>
    <% if Time.zone.today.wday == 0 %>
      <% if @album.sun_open == nil || @album.sun_open == "" %>
        This business is closed today. Please wait until it opens again 
        <% if @album.mon_open != nil %> 
          tomorrow.
        <% else %> 
          Tuesday. 
        <% end %>
      <% elsif Time.now > @album.sun_open && Time.now < @album.sun_close %>
        Find this vinyl at a business in <%= @album.city %>. Go and ask for the final hint before it closes.
      <% elsif Time.now < @album.sun_open %>
        Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again today.
      <% else %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again 
        <% if @album.mon_open != nil %> 
          tomorrow.
        <% else %> 
          Tuesday.
        <% end %>
    <% end %>
  <% elsif Time.zone.today.wday == 1 %>
    <% if @album.mon_open == nil || @album.mon_open == "" %>
      This business is closed today. Please wait until it opens again 
      <% if @album.tue_open != nil %> 
        tomorrow.
      <% else %> Wednesday. 
      <% end %>
    <% elsif Time.now > @album.mon_open && Time.now < @album.mon_close %>
      Find this vinyl at a business in <%= @album.city %>. Go and ask for the final hint before it closes.
    <% elsif Time.now < @album.mon_open %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again today.
    <% else %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again 
      <% if @album.mon_open != nil %> 
        tomorrow.
      <% else %> Tuesday. 
      <% end %>
    <% end %>
    
  <% elsif Time.zone.today.wday == 2 %>
    <% if @album.tue_open == nil || @album.tue_open == "" %>
      This business is closed today. Please wait until it opens again 
      <% if @album.wed_open != nil %> 
        tomorrow.
      <% else %> 
        Thursday.
      <% end %>
    <% elsif Time.now > @album.tue_open && Time.now < @album.tue_close %>
      Find this vinyl at a business in <%= @album.city %>. Go and ask for the final hint before it closes.
    <% elsif Time.now < @album.tue_open %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again today.
    <% else %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again 
      <% if @album.mon_open != nil %> 
        tomorrow.
      <% else %> 
        Tuesday.
      <% end %>
    <% end %>
    
  <% elsif Time.zone.today.wday == 3 %>
    <% if @album.wed_open == nil || @album.wed_open == "" %>
      This business is closed today. Please wait until it opens again 
        <% if @album.thu_open != nil %> 
          tomorrow.
        <% else %> 
          Friday.
        <% end %>
    <% elsif Time.now > @album.wed_open && Time.now < @album.wed_close %>
      Find this vinyl at a business in <%= @album.city %>. Go and ask for the final hint before it closes.
    <% elsif Time.now < @album.wed_open %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again today.
    <% else %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again 
      <% if @album.mon_open != nil %> 
        tomorrow.
      <% else %> Tuesday.
      <% end %>
    <% end %>
    
  <% elsif Time.zone.today.wday == 4 %>
    <% if @album.thu_open == nil || @album.thu_open == "" %>
      This business is closed today. Please wait until it opens again 
      <% if @album.fri_open != nil %> 
        tomorrow.
      <% else %> 
        Saturday.
      <% end %>
    <% elsif Time.now > @album.thu_open && Time.now < @album.thu_close %>
      Find this vinyl at a business in <%= @album.city %>. Go and ask for the final hint before it closes.
    <% elsif Time.now < @album.thu_open %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again today.
    <% else %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again 
      <% if @album.mon_open != nil %> 
        tomorrow.
      <% else %> Tuesday.
      <% end %>
    <% end %>
    
  <% elsif Time.zone.today.wday == 5 %>
    <% if @album.fri_open == nil || @album.fri_open == "" %>
      This business is closed today. Please wait until it opens again 
      <% if @album.sat_open != nil %> 
        tomorrow.
      <% else %> 
        Sunday.
      <% end %>
    <% elsif Time.now > @album.fri_open && Time.now < @album.fri_close %>
      Find this vinyl at a business in <%= @album.city %>. Go and ask for the final hint before it closes.
    <% elsif Time.now < @album.fri_open %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again today.
    <% else %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again 
      <% if @album.mon_open != nil %> 
        tomorrow.
      <% else %> Tuesday.
      <% end %>
    <% end %>
    
  <% elsif Time.zone.today.wday == 6 %>
    <% if @album.sat_open == nil || @album.sat_open == "" %>
      This business is closed today. Please wait until it opens again 
      <% if @album.sun_open != nil %> 
        tomorrow.
      <% else %> Monday.
      <% end %>
    <% elsif Time.now > @album.sat_open && Time.now < @album.sat_close %>
    Find this vinyl at a business in <%= @album.city %>. Go and ask for the final hint before it closes.
    <% elsif Time.now < @album.sat_open %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again today.
    <% else %>
      Find this vinyl at a business in <%= @album.city %>. Please wait until it opens again 
      <% if @album.mon_open != nil %> 
        tomorrow.
      <% else %> Tuesday.
      <% end %>
    <% end %>
  <% end %>
  <% else %>
  Take a photo tagged with #unfoundsounds at <%= @album.hidden_place %> to log in and see an early, extra hint.
<% end %>
</div>

<div class="album_details">
  <% if @album.found == false %>
    <%= unfound_details %>
  <% else %>
    <%= found_details %>
  <% end %>
<div id="days">
  <% if @album.found == false %>
    <%= unfound_hints %>
  <% else %>
    <%= found_place %>
  <% end %>
  <div id="back_home"><a href="/"><h4><em>return to round</em></h4></a></div>
</div>
