<div id="hours">
  <% if @album.sun_open != nil %>
  <% if Time.now.wday == 0 %>
    <% if Time.now > @album.sun_open && Time.now < @album.sun_close %>
      Find this vinyl at an Omaha business. Go and ask for the final hint before it closes at <%= @album.sun_close.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% elsif Time.now < @album.sun_open %>
      Find this vinyl at an Omaha business. Please wait until it opens again today at <%= @album.sun_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% else %>
      Find this vinyl at an Omaha business. Please wait until it opens again tomorrow at <%= @album.mon_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% end %>
  <% elsif Time.now.wday == 1 %>
    <% if Time.now > @album.mon_open && Time.now < @album.mon_close %>
      Find this vinyl at an Omaha business. Go and ask for the final hint before it closes at <%= @album.mon_close.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% elsif Time.now < @album.mon_open %>
      Find this vinyl at an Omaha business. Please wait until it opens again today at <%= @album.mon_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% else %>
      Find this vinyl at an Omaha business. Please wait until it opens again tomorrow at <%= @album.tue_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% end %>
  <% elsif Time.now.wday == 2 %>
    <% if Time.now > @album.tue_open && Time.now < @album.tue_close %>
      Find this vinyl at an Omaha business. Go and ask for the final hint before it closes at <%= @album.tue_close.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% elsif Time.now < @album.tue_open %>
      Find this vinyl at an Omaha business. Please wait until it opens again today at <%= @album.tue_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% else %>
      Find this vinyl at an Omaha business. Please wait until it opens again tomorrow at <%= @album.wed_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% end %>
  <% elsif Time.now.wday == 3 %>
    <% if Time.now > @album.wed_open && Time.now < @album.wed_close %>
      Find this vinyl at an Omaha business. Go and ask for the final hint before it closes at <%= @album.wed_close.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% elsif Time.now < @album.wed_open %>
      Find this vinyl at an Omaha business. Please wait until it opens again today at <%= @album.wed_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% else %>
      Find this vinyl at an Omaha business. Please wait until it opens again tomorrow at <%= @album.thu_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% end %>
  <% elsif Time.now.wday == 4 %>
    <% if Time.now > @album.thu_open && Time.now < @album.thu_close %>
      Find this vinyl at an Omaha business. Go and ask for the final hint before it closes at <%= @album.thu_close.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% elsif Time.now < @album.thu_open %>
      Find this vinyl at an Omaha business. Please wait until it opens again today at <%= @album.thu_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% else %>
      Find this vinyl at an Omaha business. Please wait until it opens again tomorrow at <%= @album.fri_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% end %>
  <% elsif Time.now.wday == 5 %>
    <% if Time.now > @album.fri_open && Time.now < @album.fri_close %>
      Find this vinyl at an Omaha business. Go and ask for the final hint before it closes at <%= @album.fri_close.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% elsif Time.now < @album.fri_open %>
      Find this vinyl at an Omaha business. Please wait until it opens again today at <%= @album.fri_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% else %>
      Find this vinyl at an Omaha business. Please wait until it opens again tomorrow at <%= @album.sat_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>
    <% end %>
  <% else %>
    <% if Time.now > @album.sat_open && Time.now < @album.sat_close %>
      Find this vinyl at an Omaha business. Go and ask for the final hint before it closes at <%= @album.sat_close.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% elsif Time.now < @album.sat_open %>
      Find this vinyl at an Omaha business. Please wait until it opens again today at <%= @album.sat_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% else %>
      Find this vinyl at an Omaha business. Please wait until it opens again tomorrow at <%= @album.sun_open.in_time_zone("Central Time (US & Canada)").strftime('%l:%M %P') %>.
    <% end %>
  <% end %>
<% end %>
</div>
<div class="album_details">
  <% if @album.found == false %>
    <%= unfound_details %>
  <% else %>
    <%= found_details %>
  <% end %>
<div id="days">
  <% if @album.found == false %>
    <%= unfound_hints %>
  <% else %>
    <%= found_place %>
  <% end %>
  <div id="back_home"><a href="/"><h4><em>return to week view</em></h4></a></div>
</div>
