<div id="main">
  <div id="albums" class="clearfix albums_left">
    <div id="home_album" class="one_album">
	    <img class="homepage" src="<%= @album.album_cover %>"></div>
      <div class='rdio' class='tip_top'><iframe width='340' height='340' src='<%= @album.rdio %>' frameborder='0'></iframe></div>
    </div>
    <div class="album_details" style="display: block;">
      <% if @album.found == false %>
        <%= unfound_details %>
      <% else %>
        <%= found_details %>
      <% end %>
      <div id="days">
      <% if @album.found == false %>
        <%= unfound_hints %>
      <% else %>
        <%= found_place %>
      <% end %>
      </div>
    </div>
  </div>
</div>
  <div id="week_html" class="clearfix">
    <a href="/"><h4>see this week's albums</h4></a>
  </div>
</div>
<div id="previous"><img src="https://s3.amazonaws.com/UnfoundSounds/images/previous.png"></div>
<div id="next"><img src="https://s3.amazonaws.com/UnfoundSounds/images/next.png"></div>
