<div id="main">
  <div id="albums" class="clearfix albums_left">
<div id="home_album" class="one_album">
	<img class="homepage" src="<%= @album.album_cover %>"></div>
  </div>
  <% date = @album.created_at %>
  <div class="album_details" style="display: block;">
  <h1><%= @album.album_title %></h1>
  <h4><em>hidden on <%= format_date(date) %>, <%= @album.place_title %></em></h4>
  <p><div id="album_review"><%= markdown(@album.album_review) %></div><div id="review_link"><em><a href="<%= @album.review_link %>" target="_blank">read the full review on Hear Nebraska</a></em></div>
  <hr>
  <h4><em>hints as to this record's hiding place at an Omaha business</em></h4>
    <div id="days">
      <div id="monday">
        <% if @hint.monday_title != "" %>
          <%= @hint.monday_title %>
          <div id="monday_thumbnail" style="background-image:url('<%= @hint.thumbnail %>')"></div>
        <% else %>
          MONDAY
          <div id="lock"></div>
        <% end %>
      </div>
      <div id="tuesday">
        <% if @hint.tuesday_title != "" %>
          <%= @hint.tuesday_title %>
          <div id="tuesday_thumbnail" style="background-image:url('<%= @hint.thumbnail %>')"></div>
        <% else %>
          TUESDAY
          <div id="lock"></div>
        <% end %>
      </div>
      <div id="wednesday">
        <% if @hint.wednesday_title != "" %>
          <%= @hint.wednesday_title %>
          <div id="wednesday_thumbnail" style="background-image:url('<%= @hint.thumbnail %>')"></div>
        <% else %>
          WEDNESDAY
          <div id="lock"></div>
        <% end %>
      </div>
      <div id="thursday">
        <% if @hint.thursday_title != "" %>
          <%= @hint.thursday_title %>
          <div id="thursday_thumbnail" style="background-image:url('<%= @hint.thumbnail %>')"></div>
        <% else %>
          THURSDAY
          <div id="lock"></div>
        <% end %>
      </div>
      <div id="friday">
        <% if @hint.friday_title != "" %>
          <%= @hint.friday_title %>
          <div id="friday_thumbnail" style="background-image:url('<%= @hint.thumbnail %>')"></div>
        <% else %>
          FRIDAY
          <div id="lock"></div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <div id="week_html" class="clearfix"><a href="/"><h4>see this week's albums</h4></div></a>
  </div>
  <% if @albums.first != nil %>
  <%= @albums.first.week %>: 
  <%= @albums.first.week_name.upcase %>
  </h4></a></div>
  <a href="
  <% unless (@albums.first.found) == false %>
  /week/<%= (@albums.first.week) + 1 %>
  <div id="previous"><img src="https://s3.amazonaws.com/UnfoundSounds/images/previous.png"></div></a>
  <% else %>
  /week/1">
  <div id="previous"><img src="https://s3.amazonaws.com/UnfoundSounds/images/previous.png"></div></a>
  <% end %>
  <a href="
  <% if (@albums.first.week) - 1 != 0 %>
  /week/<%= (@albums.first.week) - 1 %>
  <% else %>
  /
  <% end %>
  "><div id="next"><img src="https://s3.amazonaws.com/UnfoundSounds/images/next.png"></div></a>
  <% end %>