<div id="mobile_note"><h4 id="mobile"><em>this round's albums</em></h4></div>
<div id="main">
  <div id="albums" class="clearfix">
    <% @albums.each_with_index do |album, index| %>
    	<div id="home_album" class="album_<%= index %>"><%= link_to("/album/#{album.url}", :remote => true) do %>
        <%= image_tag("#{album.album_cover}", width: '340', class: "homepage") %>
      <% end %>
        <% if @allow_edit == true %>
          <div id="admin_buttons">
            <a href="/album/<%= album.url %>/edit"><div id="home_edit_link">
              edit
            </div></a>
            <%= link_to("delete", "/album/#{album.url}/delete", :method => :post, :id => "home_delete_link") %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="week" class="clearfix">
  <div id="all_week">
  
    <% if (@albums.first.found) == true %>
    
      <div id="previous"><%= link_to("/week/#{(@albums.first.week) + 1}", :remote => true) do %>
        <%= image_tag("https://s3.amazonaws.com/UnfoundSounds/images/PreviousBlack.png")%>
      <% end %>
      </div>

    <% else %>
    
      <div id="previous"><%= link_to("/week/1", :remote => true) do %>
        <%= image_tag("https://s3.amazonaws.com/UnfoundSounds/images/PreviousBlack.png")%>
      <% end %>
      </div>

    <% end %>
    
    <div id="week_title">
      <a href="/">
        <h4>ROUND 
        <% if @albums.first != nil %>
          <%= @albums.first.week %>: 
          <%= @albums.first.week_name.upcase %>
        </h4>
      </a>
    </div>
  
    <% if (@albums.first.week) - 1 != 0 %>
  
      <div id="next"><%= link_to("/week/#{(@albums.first.week) - 1}", :remote => true) do %>
        <%= image_tag("https://s3.amazonaws.com/UnfoundSounds/images/NextBlack.png")%>
      <% end %>
      </div>
  
    <% else %>
  
      <div id="next"><%= link_to("/week/#{@max}", :remote => true) do %>
        <%= image_tag("https://s3.amazonaws.com/UnfoundSounds/images/NextBlack.png")%>
      <% end %>
      </div>
    
    <% end %>
  </div>
  </div>
  <% end %>
  <% unless current_user %>
    <div id="register">
        <%= link_to("/writers/new", :remote => true) do %>
        <div id="register_desktop"><em>become a member &amp; find vinyl first</em></div><div id="register_mobile">REGISTER</div>
        <% end %>
    </div>
  <% end %>