<div id="main">

<div id="albums" class="clearfix">
  <% @albums.each do |album| %>
  	<div id="home_album" class="album"><%= link_to("/album/#{album.url}", :remote => true, :rel => 'album') do %>
      <%= image_tag("#{album.album_cover}", width: '340', class: "homepage") %>
    <% end %>
    </div>
  <% end %>
</div>
</div>
<div id="week" class="clearfix"><a href="/"><h4>WEEK 
  <% if @albums.first != nil %>
  <%= @albums.first.week %>: 
  <%= @albums.first.week_name.upcase %>
  </h4></a></div>
  <a href="
  <% unless (@albums.first.found) == false %>
  /week/<%= (@albums.first.week) + 1 %>"
  <div id="previous"><img src="https://s3.amazonaws.com/UnfoundSounds/images/previous.png"></div></a>
  <% else %>
  /week/1">
  <div id="previous"><img src="https://s3.amazonaws.com/UnfoundSounds/images/previous.png"></div></a>
  <% end %>
  <a href="
  <% if (@albums.first.week) - 1 != 0 %>
  /week/<%= (@albums.first.week) - 1 %>" <div id="next"><img src="https://s3.amazonaws.com/UnfoundSounds/images/next.png"></div></a>
  <% else %>
  /" <div id="next"><img src="https://s3.amazonaws.com/UnfoundSounds/images/next.png"></div></a>
  <% end %>
  <% end %>
  <% unless current_user %>
    <div id="register">
      <em>
        <%= link_to("/writers/new", :remote => true) do %>
        become a member &amp; find vinyl first
        <% end %>
      </em>
    </div>
  <% end %>