<div id="overlay"><div id="x">&times;</div><h2>BECOME A MEMBER</h2>

<%= form_for @writer do |f| %>
  <% if @writer.errors.any? %>
    <% @writer.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>

  <p>
    <%= f.text_field :email, placeholder: "email" %>
  </p>
  
  <p>
    <%= f.password_field :password, placeholder: "password" %>
  </p>
  
  <p>
    <%= f.password_field :password_confirmation, placeholder: "password confirmation" %>
  </p>
  
  <%= f.submit "SUBMIT" %>
<% end %>
</div>