<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/UnfoundSounds/images/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/UnfoundSounds/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/UnfoundSounds/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/UnfoundSounds/images/favicon-32x32.png" sizes="32x32">
</head>
  <div class="content">
    <header>
      <div id="main_nav">
        <a href="/">
          <div id="logo">
          <img class="main_nav" src="https://s3.amazonaws.com/UnfoundSounds/images/unfound-sounds-logo.png" alt="logo" width="80">
          </div>
          <div id="blog_title">Unfound Sounds</div>
        </a>
        <div class="nav">
          <div id="donate_discover">
          <a href="/donate">
            <em>donate</em>
          </a>
          <div id="slash">
            <em>/</em> 
          </div>
          <a href="/discover">
            <em>discover</em>
          </a>
          </div>
          <% unless current_user %>
          <div id="login">
          <div id="slash">
            <em>/</em>
          </div>
            <div id="login_desktop">
              <em>
                <%= link_to("/logins/new", :remote => true) do %>
                log in
              </em>
            </div>
              <% end %>
            </div>
              <%= link_to("/logins/new", :remote => true) do %>
              <div id="login_mobile">LOGIN</div>
            <% end %>
            </div>
            <% else %>
            <div id="logout"><em>/</em>
              <em>
              <%= link_to("/logins/#{current_user.id}", :method => :delete) do %>
              log out
              </em>
            </div>
            <% end %>  
            </div>
          
          <% end %>
        </div>
    </header>
  <body>
    <div id="note">Find us on <a href="http://facebook.com/unfoundsounds" target="_blank">Facebook</a> and <a href="http://twitter.com/unfoundsounds" target="_blank">Twitter</a>.</div>
  <%= yield %>
  <script type="text/javascript" src="//use.typekit.net/aqv1ptn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </body>
  </div>
</html>
